* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 1.8em Helvetica, Arial; 
background-color: rgba(223, 241, 243, 0.945)}
form {border-style: dashed; background: rgba(66, 228, 139, 0.418); padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border-style: dashed;border: 0; padding: 10px; width: 90%; margin-right: .05%; }
form #button { color:#FFF; background: rgb(180, 224, 19); border: none; padding: 10px;  width: 8%; }
#messages {  list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { border-style: groove; background: #eee; }
#notifyUser { position: fixed; bottom: 42px; width: 100%; }